.Bar {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: red;
    border: 1px solid black;
}

.Link {
    color: white;
    font-size: larger;
    margin-left: 1em;
    padding: 0/25em;
    text-decoration: none;
    margin-left: 30px;
    &:hover {
        text-decoration: underline;
        color: black;
    }
}

.Right {
    margin-right: 30px;
    display: flex;
    gap: 20px;
}

.Letter {
    margin-top: 1px;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
}
